# Gemini API Key (Required for standard features)
GEMINI_API_KEY=AIzaSyDOIA2mdmdDyVh4hYhEsCMD3zOnqLQ0Nxg

# Anthropic Claude API Key (Required for Vishwakarma Pro and Vishwakarma VIP elite reasoning)
ANTHROPIC_API_KEY=sk-live-c0ec0ecdff78d5d006b3cdf15c82c2d2b34fe681aad268a91042bdd4b7f96c0e

# Encryption Key for Secrets
SECRET_ENCRYPTION_KEY=
ANTHROPIC_BASE_URL=https://api.aicredits.in/v1
# GitHub Integration (Professional Developer Features)
GITHUB_CLIENT_ID=Ov23lisj044pcY8Ja178
GITHUB_CLIENT_SECRET=57d10d67ea1e512c66eb97fc8cba5b32f553042d
GITHUB_REDIRECT_URI=https://ais-dev-5atrf6gjbcouzph26m24ep-239605947115.asia-southeast1.run.app/api/auth/github/callback
CASHFREE_APP_ID=12160531b9cd435232b7265ba543506121
CASHFREE_SECRET_KEY=cfsk_ma_prod_4b69eb4a61740e5eee2a65ed2cb2a4c6_805b5471
CASHFREE_WEBHOOK_SECRET=
